<div class="red_line"></div>
<nav class="navbar">
    <div class="container" style="position: relative;"> 
        <div class="row" style="flex: 1;">
                <div class="icon">
                    <a href="/"><img src="https://s.cnnturk.com/assets/dist/img/logo.svg" id="himg" width="60px"></a>
                </div>
            <div class="bar">   
                <div class="tag" id="tag">
                    <ul id="tagList">
                        <li>
                            <a href="#" onclick="statistic2('SON DAKİKA')">SON DAKİKA</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#" onclick="statistic2('TV PROGRAMLARI')">TV PROGRAMLARI</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#" onclick="statistic2('CANLI YAYIN')">CANLI YAYIN</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#" onclick="statistic2('VİDEO')">VİDEO</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#" onclick="statistic2('FOTO HABER')">FOTO HABER</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#" onclick="statistic2('YAZARLAR')">YAZARLAR</a>
                        </li>
                        <li class="sep"></li>
                    </ul>

                    <ul id="tagList" style="float: right;">
                        <li>
                            <a class="facebookbtn" href=" #"></a>
                        </li>
                        <li>
                            <a class="twitterbtn" href="#"></a>
                        </li>
                        <li>
                            <a class="instagrambtn" href="#"></a>
                        </li>
                        <li class="sep" style="margin-left:2px;"></li>
                        <li>
                            <a class="searchbtn" href="#"></a>
                        </li>
                    </ul>
                </div>
            
                <div class="searchbar" id="searchbar">
                    <div class="row">
                        <div class="col-11">
                            <input type="text" id="search" name="searhbar" placeholder="Son dakika güncel haberler ve arşiv haberleri için arayın!">
                        </div>

                        <div class="col-1">
                        <div class="srch">
                                <a class="searchbtn" href="#"></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="nav_mobil">
    <div class="row">
        <div class="col-1">
            <i class="mobil_ddownbtn fa fa-bars"></i>
        </div>
        <div class="col-10" style="display: flex;justify-content: center;">
            <div class="icon2">
                <img src="https://s.cnnturk.com/assets/dist/img/logo.svg">
            </div>
        </div>
    </div>
</div>
<div class="container mobil_ddown">
    <div class="row">
        <div class="col-12">
            <ul>
                <li><a>Haberler</a></li>
                <li><a>Kategoriler</a></li>
                <li><a>TV programları</a></li>
                <li><a>Video</a></li>
                <li><a>Foto-Haber</a></li>
                <li><a>Yazarlar</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="stn col-6">
            <button>Son Dakika</button>
        </div>
        <div class="stn col-6">
            <img src="https://s.cnnturk.com/assets/dist/img/ios.png">
        </div>
    </div>
    <div class="row">
            <div class="stn col-6">
                <button>Canlı yayın</button>
            </div>
            <div class="stn col-6">
                <img src="https://s.cnnturk.com/assets/dist/img/ios.png">
            </div>
        </div>

</div>

<div class="tag2">
    <div class="container px-lg-5">
        <div class="row">
            <div class="col-1"></div>
            
             <div class="col-11">
                <ul>
                    <li>
                        <a href="/turkiye">Türkiye</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/ekonomi">Ekonomi</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/spor">Spor</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/dunya">Dünya</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/yasam">Yaşam</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/sanat">Sanat</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/magazin">Magazin</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/teknoloji">Teknoloji</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/havadurumu">Hava Durumu</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a href="/otomobil">Otomobil</a>
                    </li>
                    <li class="sep2"></li>
                    <li>
                        <a class="statisticbtn"></a>
                    </li>
                    <div style="float:right;">
                        <li>
                            <a href="#" style onclick="menuBar()">MENÜ <i class="fa fa-bars"></i></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="statistic">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p id="ist-1"></p>
            </div>
            <div class="col-8">
                <p id="ist-2"></p>
            </div>
        </div>
    </div>
</div>
<div class="menuBar" id="menuBar">
    <div class="container">
        <div class="first-footer">
            <div class="row">
                <div class="col-4">
                    <div class="fo-title">haberler</div>
                    <ul>
                        <li>türkiye</li>
                        <li>dünya</li>
                        <li>spor</li>
                        <li>yaşam</li>
                        <li>emlak</li>
                        <li>ekonomi</li>
                        <li>kültür sanat</li>
                        <li>bilim teknoloji</li>
                        <li>magazin</li>
                        <li>sağlık</li>
                        <li>sosyalmedya</li>
                        <li>yurttan haberler</li>
                        <li>haberler</li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="fo-title">kategoriler</div>
                    <ul>
                        <li>seyahat</li>
                        <li>iyilik sağlık</li>
                        <li>üniveriste rehberim</li>
                        <li>teknoloji</li>
                        <li>otomobil</li>
                        <li>hava durumu</li>
                        <li>yazarlar</li>
                        <li>kimdir</li>
                        <li>bizce</li>
                        <li>son dakika haberleri</li>
                        <li>spor haberleri</li>
                        <li>magazin haberleri</li>
                    </ul>
                </div>

                <div class="col-4">
                    <div class="fo-title">tv programları</div>
                    <ul>
                        <li>tv.cnnturk.com</li>
                        <li>canlı yayın</li>
                        <li>programlar</li>
                        <li>belgeseller</li>
                        <li>ekran yüzleri</li>
                        <li>frekanslar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>