{% extends "base.html"%}

{% block content %}

<div class="container" style="margin-top:20px">
    <table style="width:100%">
        <tr>
          <th>İd</th>
          <th>Title</th>
          <th>addtime</th>
          <th>category</th>
          <th>Delete</th>         
        </tr>
        
        {% for  news in allNews %}
        <tr>
            <td>{{news.id}}</td>
            <td>{{news.title}}</td>
            <td>{{news.addtime}}</td>
            <td>{{news.category}}</td>
            <td><a href="/deletenews?id={{news.id}}" class="btn btn-danger" st>Sil</a></td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock content %}

